.header {
  font-family: "Roboto Flex", sans-serif;
  color: white;
  height: 100px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  align-items: center;
  margin-right: 38px;
}
.MuiSwitch-track {
  background-color: #ffffff !important;
}
.service {
  font-size: 20px;
  margin-right: 48px;
}
.date {
  display: flex;
  align-items: center;
  margin-left: 35px;
}
.date__nth {
  font-size: 48px;
}
.date__details {
  font-style: 15px;
  margin-left: 7px;
  display: inline-block;
}
.date__day {
  font-size: 15px;
  margin-left: 38px;
}
